/* NAVBAR ICONS */
.social-icons {
    cursor: pointer;
    color: #9BA4B5;
    transition-duration: 100ms;
}

.social-icons:hover {
    color: #F1F6F9;
    translate: 0 -5px;
    transition-duration: 100ms;
}

.linkedin-icon {
    background-color:#9BA4B5;
    border-radius: 3px;
    padding: 1.2px;
    cursor: pointer;
    color: #1B262c;
    transition-duration: 100ms;
}

.linkedin-icon:hover {
    background-color: #F1F6F9;
    transition-duration: 100ms;
    translate: 0 -5px;

}

/* FORM */
.input-fields {
    width: 100%;
    background-color: #121212;
    border-radius: 4px;
    margin-bottom: 20px;
    color: #9ba4b5;
    font-weight: 200;
    padding: 4px;
    box-shadow: 2px white ;
}

.input-fields:focus {
    outline: none;
}

.form-label {
    color: #9BA4B5;
}